// Color system
$white: #ffffff;
$body-bg: #f8f5f2;
$gray-100: #d2d5da; // $gray-lightest
$gray-200: #bcc0c8; // $gray-lighter
$gray-300: #a5abb6; // $gray-light
$gray-400: #8f96a3;
$gray-500: #788191;
$gray-600: #656d7b; // $gray
$gray-700: #535965;
$gray-800: #40454f; // $gray-dark
$gray-900: #2e3138;
$black: #121416;

$robin-egg-blue: #00cccc; //$info
$auburn: #983434; //$danger
$jonquil: #eac10b; //$warning
$green-blue-crayota: #2c88ce; //$success
$skobeloff: #067474; //$primary
$dark-turquoise: #0ac2c2; //$primary
$dark-cyan: #078888;

$primary: $skobeloff;
$primary-light: $dark-turquoise;
$primary-dark: $dark-cyan;
$info: $robin-egg-blue;
$warning: $jonquil;
$danger: $auburn;

$border-radius-sm: 10px;
