@import "../assets/css/_variables.scss";

._layout_container {
  height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 100px 1fr;
  grid-template-areas: "header header" "sidebar content" "footer footer";

  ._layout_header {
    grid-area: header;

    ._layout_header_app_bar {
      background-color: $body-bg;
      color: $gray-800;

      ._layout_header_app_bar_logo {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 56px;
        font-size: 1.5rem;
        font-weight: 500;
        color: $black;
      }
    }
  }

  ._layout_sidebar {
    grid-area: "sidebar";
    margin: 0px 20px;
    width: 220px;
    height: 80vh;
    transition: 0.3s ease-in-out;
    overflow: hidden;
    box-shadow: 2px 2px 20px 0px $gray-400;
    border: 1px solid $gray-400;
    border-radius: $border-radius-sm;
    background-color: $primary;

    // Toggle Icons for Sidebar Hollow
    ._layout_sidebar_toggle_icon_hollow {
      justify-content: center;
      justify-items: center;
      display: flex;
      // margin-right: 20px;
      color: $white;
      padding: 20px 0px;
    }

    // Toggle Icons for Sidebar Filled
    ._layout_sidebar_toggle_icon_filled {
      justify-content: flex-end;
      justify-items: center;
      display: flex;
      color: $white;
      margin-right: 20px;
      padding: 20px 0px;
    }

    ul {
      display: grid;
      grid-template-rows: 56px auto 56px;
      height: inherit;
      padding-top: 0px;

      li {
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }

    // Sidebar items
    ._sidebar_item {
      height: 46px;
      min-width: 46px;
      background: $primary;
      color: $body-bg;

      &:hover {
        box-sizing: border-box;
        border: 2px solid $primary-dark;
        box-shadow: 1px 1px 2px $gray-900;
        border-radius: $border-radius-sm;

        span {
          color: $primary-light;
        }
      }
    }

    ._sidebar_item_logout {
      padding-bottom: 30px !important;
    }

    // Sidebar item selected
    ._sidebar_item_is_selected {
      box-sizing: border-box;
      background: $white;
      border: 2px solid $primary-dark;
      box-shadow: 1px 1px 2px $gray-900;
      border-radius: $border-radius-sm;

      span {
        color: $primary-dark;
      }

      &:hover {
        background: $white;

        span {
          color: $primary-dark;
        }
      }
    }
  }

  ._layout_sidebar_hide {
    width: 90px !important;

    ._sidebar_item {
      display: flex;
      justify-content: center;
    }

    p {
      display: none;
    }
  }

  ._layout_content {
    grid-area: content;
    margin: 0px 20px;
    height: 80vh;
    overflow: hidden;
    box-shadow: 1px 1px 2px $gray-900;
    border-radius: $border-radius-sm;
    border: 2px solid $body-bg;
    background-color: $body-bg;

    :first-child {
      padding: 20px;
    }
  }

  ._layout_footer {
    grid-area: footer;
    background-color: $body-bg;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    font-size: 1.5rem;
    font-weight: 500;
    color: $black;
  }
}
